body {
  background-color: lightgray;
}

.array,
.kadane,
.dutch {
  width: 75%;
  margin: auto;
}

h1 {
  font-size: 3rem;
}

h3,
h5 {
  font-size: 2rem;
}

.array,
.kadane,
.dutch > p,
fieldset {
  font-size: 1.5rem;
}

.array,
.kadane,
.dutch > ul {
  font-size: 1.5rem;
  line-height: 1.5;
}

.center {
  display: block;
  margin: auto;
  width: 80%;
}

fieldset {
  background-color: rgb(251, 252, 253);
  color: blueviolet;
  border-radius: 6%;
}

hr {
  height: 5px;
  border-radius: 10px;
  color: #ce9461;
  background-color: #ce9461;
}
